@import 'tailwindcss';
body{
    background-color: rgba(233, 237, 239, 0.848);
}

.navlinks span:hover{
   background-color:rgb(228, 125, 88);
   border: 2px solid white;
   border-radius: 10%;

  text-align: center;

}